# Base de données PostgreSQL
DATABASE_URL="postgresql://sentinel:sentinel@localhost:5432/sentinel"

# Clé de chiffrement AES-256-GCM (générée avec crypto.randomBytes(32))
ENCRYPTION_KEY="1meVxOgtkAms36fryrjsvi1un7vYhrBVht5Wgpz3aro="

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="j6mB3KOOVVzssaCOtToB23cMhWSY9eqlXHy+k4jaogw="

# Microsoft Entra ID (Azure AD) - tenant Noxia-Groupe
AUTH_MICROSOFT_ENTRA_ID_ID=""
AUTH_MICROSOFT_ENTRA_ID_SECRET=""
AUTH_MICROSOFT_ENTRA_ID_ISSUER="https://login.microsoftonline.com/TENANT_ID/v2.0/"
